{% extends "bootstrap/base.html" %}
{% block title%} Social Network {% endblock %}
{% block styles%}

<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
<style rel="stylesheet">
	body{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #E4E4E4;
	}
	.my_navbar{
		background-color:#44E3FF;
		border-color:#96BBC0;
	}
	.my_center{
		margin-left: auto;
		margin-right:auto;
		width:1024px;
		height:100%;

	}
	.my_logoutbtn{
		color: white;
		padding: 15px 50px 5px 50px;
		float: right;
		font-size: 16px;
	}
	
	.my_profiledata{
		
		
		margin-left:10px;
		margin-right:10px;
		margin-top:10px;
		
		width: 100%;
		padding:10px;
		padding-top: 0px;

	}
	.my_msgimg{
		width:25px;
		height:25px;
		margin-bottom: 0px;
	}
	.my_msgimg_link{
		padding-bottom: 0px;
	}
	.my_dshow{
		display:none;
	}
	.my_show{
		display:block;
	}
	.my_list{
		 
		
	}
	.my_list li{
		
		list-style-type: none;
		display: inline; 
	}
	.my_list2 li{
		list-style-type: none;
	}

</style>
{%endblock%}
{%block scripts%}

<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
 <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>




<script type="text/javascript">
$("document").ready(function(){
	/*var submitform = function(e){
		console.log($SCRIPT_ROOT)
		$.getJSON($SCRIPT_ROOT+'{{url_for(".writetesti")}}',{testi:$('input[name="testi"]').val()}); }
	$('input[name="testisubmit"]').on('click',submitform);*/


	
	

	
  

	   








});





</script>
 <script src="{{url_for('static',filename='js/mine.js')}}"></script>
{%endblock%}


{% block navbar  %}

<nav class="navbar my_navbar navbar-static-top " role="navigation">
 
  <div class="my_center">
    
  <div class="navbar-header navbar-nav">
  
  <a class ="navbar-brand" href="{{url_for("main.index")}}">Social Network</a>

  	  <ul class="nav navbar-nav">
	  {%block mynav%}
        <li ><a href="{{url_for('main.registration')}}">Register </a></li>
        <li ><a href="{{url_for('main.login')}}">Login</a></li>
		{%endblock%}
      </ul>
    </div>
    

  </div>
 
</nav>

{% endblock %}

{% block content %}
{%block messages%}
{% for message in get_flashed_messages() %}
		<div class ="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
{%endfor%}
{%endblock%}
{% endblock %}


