{%  extends "userprofile.html" %}



{%block profiledata%}
		<h1>{{friend.fname|capitalize}} {{friend.lname|capitalize}} </h1>
		Friendship:{% if status == "Friends"%}
		<h4>Friends</h4>
		{% elif status =="Awaiting Response"%}
		<h4>Awaiting Response</h4>
		{% else %}
		<form method="post" action="{{url_for('.addfriend')}}">
			<input type="hidden" value="{{friend.email}}" name="friendemail">
		<input type="submit"  value="Add Friend"/>
	</form>
		
		
		{%endif%}

		<b> Address:</b> {{friend.address}} <br>
      <b>PhoneNumber:</b> {{friend.phoneno}}<br>
      <b>Sex:</b>{%if friend.sex == 0%}
    Male
    {%else%}
    Female
    {%endif%}<br><br>

		{%if status=="Friends"%}
			<br>Write Testimonial:</b>
			<form method = "POST" action="{{url_for('.writetesti')}}">
				<input type="hidden" name="friendemail" value="{{friend.email}}">
				<input type="text" name="testi">
				<input type="submit" name ="testisubmit"value="Submit">
			
			</form>	
		
		{%endif%}
		
{%endblock%}

