{%  extends "userprofile.html" %}




		{%block profiledata%}
		<h1>Messages </h1><br>

		<ul class="my_list">
			<li data-btn =".newmessage"><a href="#"><img name="msgnew" style="width:50px;height:30px" src="{{url_for('static',filename='newmsg.png')}}"></a></li>
			<li data-btn =".sentMessages"><a href="#">Sent</a></li>
			<li data-btn =".receivedMessages"> <a href="#">Received</a></li>
		</ul>

		<div class="newmessage my_dshow">
		<p >
			
			<table>
				<tr><td>To:<input type="text" id="to"></td></tr>
				<tr><td>Message:<input type="text" id="msg" ></td></tr>
				<tr><td><input id="submitmsg" type="submit"></td></tr>
			</table>
			

		</p>	
		</div>
		<div class="sentMessages my_dshow">
		<p >
			<table id="sent">
				<tr><th>Sent To</th><th>Message</th></tr>
			
			</table>
			
			
			
		</p>
		</div>
		<div class="receivedMessages my_dshow">
		<p >
			<table id="received">
				<tr><th>Received From</th><th>Message</th></tr>
			
			</table>
		</p>	
		</div>
		{%endblock%}

