{%  extends "userprofile.html" %}




		{%block profiledata%}
		<h1>Messages </h1><br>
		<p>
			{%if sentMessages%}
			<table>
				<tr><th>Sent To</th><th>Message</th></tr>
			{%for message in sentMessages%}
				
					<tr><td>{{message.receiverName}}</td><td>{{message.message}}</td></tr>
					
			{%endfor%}
			</table>
			{%endif%}
		</p>
		<p>
			{%if receivedMessages%}
			<table>
				<tr><th>Received from</th><th>Message</th></tr>
			{%for message in receivedMessages%}
				<tr><td>{{message.senderName}}</td><td>{{message.message}}</td></tr>
			{%endfor%}
			</table>
			{%endif%}
		</p>	
		{%endblock%}

