{%  extends "base.html" %}
{%block styles%}
{{super()}}
<style>
	.my_center{
		margin-left: auto;
		margin-right:auto;
	}

</style>
{%endblock%}



<div class="my_center">
{% block navbar %}
	{%block mynav%}
{{super()}}
<div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> <a href="{{url_for('.index')}}" class="btn btn-danger square-btn-adjust">Logout</a> 
</div>
{%endblock%}

 <nav class="navbar-default navbar-side" role="navigation">
 	<div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="{{ url_for('static',filename='fb.png') }}" class="user-image img-responsive"/>
				</li>

                    <li>
                        <a  href="{{url_for('.index')}}"><i class="fa fa-dashboard fa-3x"></i>Home</a>
                        <li>
                        <a  href="{{url_for('.addfriends')}}"><i class="fa fa-dashboard fa-3x"></i>Add Friends</a>
                    </li>

                    </li>
				</ul>
	</div>
	
</nav>


{% endblock %}


{% block content %}
  <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                      
                        <h5>Welcome {{user.fname}} , Love to see you back. </h5>
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
{% endblock %}

</div>